<%= form_for @sample, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <p style="font-size:75%;border: solid 1px;padding:3px;background-color:#eee;">
<b>Note:</b> <%=SAMPLE_INTRO_TEXT%>
    <%= f.hidden_field :code %>
  </p>

  <% if user_signed_in? and current_user.admin? %>
  <div class="boxadmin">
  <h3>Results, Data and Feedback</h3>
  <p>
  <div><%= f.label "Status Flag" %><br />
  <%= select(:sample, :flag_id, Flag.all.collect {|f| [ f.name, f.id ] })
    %></div>
  </p>

  <p>
    <%= f.label :zipdata %><br />
    <% if @sample.zipdata? %>
      A data file has been uploaded.<br />
    <% else %>
      No data has yet been uploaded. <br />
    <% end %>
    <%= f.file_field :zipdata %>
  </p>

  <p>
    <%= f.label :sampleimage %><br />
    <% if @sample.sampleimage? %>
      An image has been uploaded.<br />
    <% else %>
      No image has yet been uploaded. <br />
    <% end %>
    <%= f.file_field :sampleimage %>
  </p>

  <p>
    <%= f.label :reference %><br />
    <% if @sample.reference? %>
      A reference link has been added.<br />
    <% else %>
      No reference link has yet been added. <br />
    <% end %>
    <%= f.text_field :reference %>
  </p>

  <p>
    <%= f.label :colour %><br />
    <%= f.text_field :colour %>
  </p>

  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>

  <p>
    <%= f.label :shape %><br />
    <%= f.text_field :shape %>
  </p>

  <p>
    <%= f.label :feedback %><br />
    
    <%= f.text_area :feedback, :cols => 35, :rows => 6 %>
  </p>

  </div>
  <% end %>

  <p>
    <%= f.label :userref %>
    <%= f.text_field :userref, :title => popup_info('sample_yourref')%>
  </p>
  <p>
    <%= f.label :cif %>
    <%= f.text_field :cif, :title => popup_info('sample_cif') %>
  </p>
  <p>
    <%= f.label :synth %>
    <%= f.file_field :synth, :title => popup_info('sample_synth') %>

  </p>
  <p>
    <%= f.label :coshh_name %>
    <%= f.text_field :coshh_name, :title => popup_info('sample_coshh_name') %>
  </p>
  <p>
    <%= f.label :coshh_desc %>
    <%= f.text_field :coshh_desc, :title => popup_info('sample_coshh_desc') %>
  </p>
  <p>
    <%= f.label :coshh_info %>
    <%= f.text_area :coshh_info, :rows => 2, :title => popup_info('sample_coshh_info') %>
  </p>

  <p>
    <%= f.label :params %>
    <%= f.text_field :params, :title => popup_info('sample_params') %>
  </p>

  <p>
    <%= f.label :priority %>
    <%= f.text_field :priority, :title => popup_info('sample_priority') %>
  </p>
  <p>
    <%= f.label :powd %>
    <%= f.check_box :powd, :title => popup_info('sample_powd') %>
  </p>
  <p>
    <%= f.label :chiral %>
    <%= f.check_box :chiral, :title => popup_info('sample_chiral') %>
  </p>
  <p>
    <%= f.label :cost_code %>
    <%= f.text_field :cost_code, :title => popup_info('sample_cost_code') %>
  </p>

  <p>
    <%= f.label :comments %>
    <%= f.text_area :comments, :rows => 2, :title => popup_info('sample_comments') %>
  </p>

    <div class="lbox">
    <%= f.label "Chemical Hazard Information" %><br />
    <% for hazard in Hazard.find(:all) %>
      <%= check_box_tag "sample[hazard_ids][]", hazard.id, @sample.hazards.include?(hazard) %>
      <%= "#{hazard.hazard_abbr}: #{hazard.hazard_desc}" %><br />
    <% end %>
    </div>

    <div class="lbox">
    <%= f.label "Sample Sensitivity Information" %><br />
    <% for sensitivity in Sensitivity.find(:all) %>
      <%= check_box_tag "sample[sensitivity_ids][]", sensitivity.id, @sample.sensitivities.include?(sensitivity), :title => sensitivity.description %>
      <%= "#{sensitivity.name}" %><br />
    <% end %>
    </div>
 
    <div class="lbox">
    <%= f.label "Sample Storage Information" %><br />
    <% for store in Store.find(:all) %>
      <%= check_box_tag "sample[store_ids][]", store.id, @sample.stores.include?(store), :title => store.description %>
      <%= "#{store.name}" %><br />
    <% end %>
    </div>

  <p style="clear:left;">
    <%= f.hidden_field :barcode %>
    <%= f.submit %>
  </p>
<% end %>
