<% title "Samples" %>

  <% form_tag samples_path, 
     :style => "padding:3px;background-color:#eee;display:table;border:1px solid;",
     :method => 'get' do %>

    <% code_selected = 'selected' %>
    <% userref_selected = '' %>

    <% case %>
    <% when params[:search_field] == 'code' %>
      <% code_selected = 'selected' %>
    <% when params[:search_field] == 'userref' %>
      <% userref_selected = 'selected' %>
    <% else %>
      <% code_selected = 'selected' %>
    <% end %>

    Search For: <%= text_field_tag :search, params[:search] %> in:
    <%= select_tag "search_field", 
    "<option #{code_selected} value=\"#{:code}\">Sample Code</option>
     <option #{userref_selected} value=\"#{:userref}\">User Ref</option>".html_safe %>
    Display: <%= samples_per_page_select @samples%> items per page
    <%= submit_tag "Search", :name => nil %>

  <% end %>

  <p>
  <form method="link" action="/samples"><input type="submit" value="Reset Search"></form>

<p>
<%= will_paginate @samples %>
</p>

<% if (@samples.size != 0) %>
<p>
<table class="pretty">
  <tr>
    <th><%= sortable "code", "Code" %></th>
    <th><%= sortable "userref", "Ref" %></th>
<!--    <th><%= sortable "params", "Parameters" %></th> -->
    <th><%= sortable "name", "Status" %></th>
    <th><%= sortable "created_at", "Submitted" %></th>
    <th><%= sortable "updated_at", "Updated" %></th>
    <th><%= sortable "priority", "Pri" %></th>
<!--    <th><%= sortable "powd", "Powd?" %></th> -->
<!--    <th><%= sortable "chiral", "Chiral?" %></th> -->
<!--    <th><%= sortable "cost_code", "Cost Code" %></th> -->
    <th><%= sortable "lastname", "User" %></th>
    <th><%= sortable "group_abbr", "Group" %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for sample in @samples %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= sample.code %></td>
      <td><%= sample.userref %></td>
<!--      <td><%= sample.params %></td> -->
      <td><%= sample.flag.name %></td>
      <td><%= neat_time(sample.created_at) %></td>
      <td><%= neat_time(sample.updated_at) %></td>
      <td><%= sample.priority %></td>
<!--      <td><%= sample.powd %></td> -->
<!--      <td><%= sample.chiral %></td> -->
<!--      <td><%= sample.cost_code %></td> -->
      <td><%= "#{sample.user.firstname} #{sample.user.lastname}"  %></td>
      <td><%= "#{sample.user.group.group_abbr}"  %></td>
      <td><%= link_to image_tag("/images/show.gif", 
              :title => "Show",
              :alt   => "Show"),
            sample %></td>
      <td><%= link_to image_tag("/images/pdf.png",
              :title => "PDF",
              :alt   => "PDF"),
            sample_path(sample, :format => "pdf") %></td>
      <td><%= link_to image_tag("/images/edit.gif", 
              :title => "Edit",
              :alt   => "Edit"),
            edit_sample_path(sample) %></td>
      <td><%= link_to image_tag("/images/delete.gif", 
              :title => "Delete",
              :alt   => "Delete"),
            sample,
            :confirm => 'Are you sure?',
            :method => :delete %></td>
    </tr>
  <% end %>
</table>
</p>

<% else %>
<p>
No samples found!
</p>

<% end %>

