<% title "Samples" %>

<table>
  <tr>
    <th>Code</th>
    <th>Params</th>
    <th>Status</th>
    <th>Update</th>
    <th>Priority</th>
    <th>Powd</th>
    <th>Chiral</th>
    <th>Cost Code</th>
    <th>User</th>
    <th>Group</th>
  </tr>
  <% for sample in @samples %>
    <tr>
      <td><%= sample.code %></td>
      <td><%= sample.params %></td>
      <td><%= sample.flag.name %></td>
      <td><%= sample.updated_at %></td>
      <td><%= sample.priority %></td>
      <td><%= sample.powd %></td>
      <td><%= sample.chiral %></td>
      <td><%= sample.cost_code %></td>
      <td><%= "#{sample.user.firstname} #{sample.user.lastname}"  %></td>
      <td><%= "#{sample.user.group.group_desc}"  %></td>
      <td><%= link_to "Show", sample %></td>
      <td><%= link_to "Edit", edit_sample_path(sample) %></td>
      <td><%= link_to "Destroy", sample, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sample", new_sample_path %></p>
