<% title "Samples" %>

<table class="pretty">
  <tr>
    <th><%= sortable "code", "Code" %></th>
<!--    <th><%= sortable "params", "Parameters" %></th> -->
    <th><%= sortable "name", "Status" %></th>
    <th><%= sortable "created_at", "Submitted" %></th>
    <th><%= sortable "updated_at", "Updated" %></th>
    <th><%= sortable "priority", "Priority" %></th>
<!--    <th><%= sortable "powd", "Powd?" %></th> -->
<!--    <th><%= sortable "chiral", "Chiral?" %></th> -->
<!--    <th><%= sortable "cost_code", "Cost Code" %></th> -->
    <th><%= sortable "lastname", "User" %></th>
    <th><%= sortable "group_abbr", "Group" %></th>
  </tr>
  <% for sample in @samples %>
    <tr>
      <td><%= sample.code %></td>
<!--      <td><%= sample.params %></td> -->
      <td><%= sample.flag.name %></td>
      <td><%= neat_time(sample.created_at) %></td>
      <td><%= neat_time(sample.updated_at) %></td>
      <td><%= sample.priority %></td>
<!--      <td><%= sample.powd %></td> -->
<!--      <td><%= sample.chiral %></td> -->
<!--      <td><%= sample.cost_code %></td> -->
      <td><%= "#{sample.user.firstname} #{sample.user.lastname}"  %></td>
      <td><%= "#{sample.user.group.group_desc}"  %></td>
      <td><%= link_to "Show", sample %></td>
      <td><%= link_to "Edit", edit_sample_path(sample) %></td>
      <td><%= link_to "Destroy", sample, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Sample", new_sample_path %></p>
