<% title "Current Sample Queue" %>

<p>
The estimated wait time is likely to be shorter if the priority
number is lower for multiple samples submitted on the same day.
</p>

<p>
<%= will_paginate @samples %>
</p>
<p>
<table >
  <tr>
    <th>Sample Code</th>
    <th>User Ref</th>
    <th>Submitted At</th>
    <th>Priority</th>
    <th>Wait Time</th>
  </tr>
  <% page_num = params[:page].to_i > 0 ? params[:page].to_i : 1 %>
  <% days =  1 + (page_num - 1) * 5%>
  <% for sample in @samples %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= sample.code %></td>
      <td><%= sample.userref %></td>
      <td><%= neat_time(sample.created_at) %></td>
      <td><%= sample.priority %></td>
      <td><%= pluralize(days, 'Day') %></td>
    </tr>
    <% days = days + 1%>
    </tr>
  <% end %>
</table>
</p>
