<% title "Sample #{@sample.code}" %>
<p>
<%= link_to "Show as PDF", "#{sample_path(@sample)}.pdf" %>
</p>

  <div class="boxadmin">
  <p>
  Status:
  <span class="highlight"><%= @sample.flag.name %>
    </span>
  </p>

  <p>
    Sample Data:
<% if @sample.zipdata? %>
    <%= link_to 'available', @sample.zipdata_url.to_s  %>
  <% else %>
    not yet available
  <% end %>

  </p>

  <p>
  Sample Image:
  <% if @sample.sampleimage? %>
    <%= link_to  'available',
                  @sample.sampleimage_url.to_s,
                  :target => "_blank"  %>
  <% else %>
    not yet available
  <% end %>

  </p>

  <p>
  Published Reference:
  <% if @sample.reference? %>
    <%= link_to 'available', @sample.reference  %>
  <% else %>
    not yet available
  <% end %>
  </p>
  </div>

  <p>
    <%= :userref %>: <%= @sample.userref %>
  </p>

  <p>
    <%= :cif %>: <%= @sample.cif %>
  </p>

  <p>
    <%= :synth %>: <%= @sample.synth %><br />
  <%= link_to   image_tag( @sample.synth_url(:thumb).to_s,
                :title => "Click for full size view in new window or tab.",
                :alt => "Click for full size view in new window or tab."),
                @sample.synth_url.to_s,
                :target => "_blank"  %>

  </p>

    <div class="rbox">
    Sensitivity Information
  <ul>
  <% for sensitivity in @sensitivities %>
    <% if @sample.sensitivities.include? sensitivity %>
      <li><%="#{sensitivity.name}: #{sensitivity.description}"%></li>
    <% end %>
  <% end %>
  </ul>
    </div>

    <div class="rbox">
    Storage Requirements
  <ul>
  <% for store in @stores %>
    <% if @sample.stores.include? store%>
      <li><%="#{store.name}: #{store.description}"%></li>
    <% end %>
  <% end %>
  </ul>
  </div>

    <div class="rbox">
    Chemical Hazard Information
  <ul>
  <% for hazard in @hazards %>
    <% if @sample.hazards.include? hazard%>
      <li><%=hazard.hazard_desc + "(" + hazard.hazard_abbr + ")"%></li>
    <% end %>
  <% end %>
  </ul>

    </div>

<p>
    <%= :coshh_name %>: <%= @sample.coshh_name %>
  </p>
  <p>
    <%= :coshh_desc %>: <%= @sample.coshh_desc %>
  </p>
  <p>
    <%= :coshh_info %>: <%= @sample.coshh_info %>
  </p>

  <p>
    <%= :params %>: <%= @sample.params %>
  </p>

  <p>
    <%= :priority %>: <%= @sample.priority %>
  </p>
  <p>
    <%= :powd %>: <%= @sample.powd ? 'yes' : 'no' %>
  </p>
  <p>
    <%= :chiral %>: <%= @sample.chiral ? 'yes' : 'no' %>
  </p>
  <p>
    <%= :cost_code %>: <%= @sample.cost_code %>
  </p>

  <p>
    <%= :comments %>: <%= @sample.comments %>
  </p>

