<% title "Sample #{@sample.code}" %>
<p> 
<%= link_to "Show as PDF", "#{sample_path(@sample)}.pdf" %>
</p>
<p>
  <strong>Your Ref:</strong>
  <%= @sample.userref %>
</p>
<p>
  <strong>Chemical Formula:</strong>
  <%= @sample.cif %>
</p>
<p>
  <strong>Synthetic Route:</strong><br/>
  <%= link_to   image_tag( @sample.synth_url(:thumb).to_s, 
                :title => "Click for full size view in new window or tab.",
                :alt => "Click for full size view in new window or tab."),
                @sample.synth_url.to_s,
                :target => "_blank"  %>
</p>
<p>
  <strong>Solvent Name:</strong>
  <%= @sample.coshh_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @sample.coshh_desc %>
</p>
<p>
  <strong>Handling Information:</strong>
  <%= @sample.coshh_info %>
</p>
<p>
  <strong>Params:</strong>
  <%= @sample.params %>
</p>
<p>
  <strong>Status Flag:</strong>
  <%= @sample.flag.name %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @sample.updated_at.localtime %>
</p>

<p>
  <strong>Analysis Data:</strong>
  <% if @sample.zipdata? %>
    <%= link_to 'Data Available', @sample.zipdata_url.to_s  %>
  <% else %>
    Data not yet available.
  <% end %>
</p>

<p>
  <strong>Analysis Image:</strong>
  <% if @sample.sampleimage? %>
    <%= link_to   image_tag( @sample.sampleimage_url(:thumb).to_s,
                  :title => "Click for full size view in new window or tab.",
                  :alt => "Click for full size view in new window or tab."),
                  @sample.sampleimage_url.to_s,
                  :target => "_blank"  %>
  <% else %>
    Image not yet available.
  <% end %>
</p>

<p>
  <strong>Reference Link:</strong>
  <% if @sample.reference? %>
    <%= link_to @sample.reference, @sample.reference  %>
  <% else %>
    A reference URL is not yet available.
  <% end %>
</p>


<p>
  <strong>Priority:</strong>
  <%= @sample.priority %>
</p>
<p>
  <strong>Powder Diffraction Required?:</strong>
  <%= @sample.powd ? 'Yes' : 'No'%>
</p>
<p>
  <strong>Chiral Molecule?:</strong>
  <%= @sample.chiral ? 'Yes' : 'No'%>
</p>
<p>
  <strong>Cost Code:</strong>
  <%= @sample.cost_code %>
</p>
<p>
  <strong>Barcode:</strong>
  <%= @sample.barcode %><br />
  <%= image_tag url_for(:controller => "samples", :action => "show_barcode", :id => @sample.id) %>

</p>
<p>
  <strong>Hazard Categories</strong>
  <ul>
  <% for hazard in @hazards %>
    <% if @sample.hazards.include? hazard%>
      <li><%=hazard.hazard_desc + "(" + hazard.hazard_abbr + ")"%></li>
    <% end %>
  <% end %>
  </ul>
</p>

<p>
  <strong>Storage Requirements</strong>
  <ul>
  <% for store in @stores %>
    <% if @sample.stores.include? store%>
      <li><%="#{store.name}: #{store.description}"%></li>
    <% end %>
  <% end %>
  </ul>
</p>

<p>
  <strong>Sample Sensitivity</strong>
  <ul>
  <% for sensitivity in @sensitivities %>
    <% if @sample.sensitivities.include? sensitivity %>
      <li><%="#{sensitivity.name}: #{sensitivity.description}"%></li>
    <% end %>
  <% end %>
  </ul>
</p>


<% if current_user.admin? %>
<p id="pdf_link">
  <%= link_to "Edit", edit_sample_path(@sample) %> |
  <%= link_to "Destroy", @sample, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", samples_path %>
</p>
<% end %>
