<% title "Sample #{@sample.code}" %>
<p>
  <strong>Your Ref:</strong>
  <%= @sample.userref %>
</p>
<p>
  <strong>Chemical Formula:</strong>
  <%= @sample.cif %>
</p>
<p>
  <strong>Synthetic Route:</strong><br/>
  <%= link_to   image_tag( @sample.synth_url(:thumb).to_s, 
                :title => "Click for full size view in new window or tab.",
                :alt => "Click for full size view in new window or tab."),
                @sample.synth_url.to_s,
                :target => "_blank"  %>
</p>
<p>
  <strong>Coshh Name:</strong>
  <%= @sample.coshh_name %>
</p>
<p>
  <strong>Coshh Desc:</strong>
  <%= @sample.coshh_desc %>
</p>
<p>
  <strong>Coshh Info:</strong>
  <%= @sample.coshh_info %>
</p>
<p>
  <strong>Params:</strong>
  <%= @sample.params %>
</p>
<p>
  <strong>Status Flag:</strong>
  <%= @sample.flag.name %>
</p>
<p>
  <strong>Updated:</strong>
  <%= @sample.updated_at.localtime %>
</p>
<p>
  <strong>Analysis Data:</strong>
  <% if @sample.zipdata? %>
    <%= link_to 'Data Available', @sample.zipdata_url.to_s  %>
  <% else %>
    Data not yet available.
  <% end %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @sample.priority %>
</p>
<p>
  <strong>Powd:</strong>
  <%= @sample.powd %>
</p>
<p>
  <strong>Chiral:</strong>
  <%= @sample.chiral %>
</p>
<p>
  <strong>Cost Code:</strong>
  <%= @sample.cost_code %>
</p>
<p>
  <strong>Barcode:</strong>
  <%= @sample.barcode %><br />
  <%= image_tag url_for(:controller => "samples", :action => "show_barcode", :id => @sample.id) %>

</p>
<p>
  <strong>Hazard Categories</strong>
  <ul>
  <% for hazard in @hazards %>
    <% if @sample.hazards.include? hazard%>
      <li><%=hazard.hazard_desc + "(" + hazard.hazard_abbr + ")"%></li>
    <% end %>
  <% end %>
</p>
<% if current_user.admin? %>
<p id="pdf_link">
  <%= link_to "Edit", edit_sample_path(@sample) %> |
  <%= link_to "Destroy", @sample, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", samples_path %>
</p>
<% end %>
