<h2>Edit <%= resource_name.to_s.humanize %></h2>

<h3><%=@user.group.group_abbr%></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label 'First Name' %><br />
  <%= f.text_field :firstname %></div>

  <div><%= f.label 'Last Name' %><br />
  <%= f.text_field :lastname %></div>

  <br /><div><%= f.label 'Administrator?' %>
  <%= f.check_box :admin %></div><br />

  <div><%= f.label "Group" %><br />
  <%= select(:user, :group_id, Group.all.collect {|g| [ g.group_desc, g.id ] },
    {:include_blank => 'None'}) %></div><br />


  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <br /><div><%= f.submit "Update" %></div>
<% end %>

<h3><%="My Samples" %></h3>

<table>
  <tr>
    <th>Code</th>
    <th>Params</th>
    <th>Status</th>
    <th>Update</th>
    <th>Priority</th>
    <th>Powd</th>
    <th>Chiral</th>
    <th>Cost Code</th>
    <th>Group</th>
  </tr>
  <% for sample in @user.samples %>
    <tr>
      <td><%= sample.code %></td>
      <td><%= sample.params %></td>
      <td><%= sample.flag.name %></td>
      <td><%= sample.updated_at %></td>
      <td><%= sample.priority %></td>
      <td><%= sample.powd %></td>
      <td><%= sample.chiral %></td>
      <td><%= sample.cost_code %></td>
      <td><%= link_to "Show", sample %></td>
    </tr>
  <% end %>
</table>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
