<% title "Stores" %>

<table class="pretty">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% for store in @stores %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= store.name %></td>
      <td><%= store.description %></td>
      <td><%= link_to image_tag("/images/show.gif",
              :title => "Show",
              :alt   => "Show"),
            store %></td>
      <td><%= link_to image_tag("/images/edit.gif",
              :title => "Edit",
              :alt   => "Edit"),
            edit_store_path(store) %></td>
      <td><%= link_to image_tag("/images/delete.gif",
              :title => "Delete",
              :alt   => "Delete"),
            store,
            :confirm => 'Are you sure?',
            :method => :delete %></td>

    </tr>
  <% end %>
</table>

<p><%= link_to "New Store", new_store_path %></p>
