<% title "Stores" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% for store in @stores %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.description %></td>
      <td><%= link_to "Show", store %></td>
      <td><%= link_to "Edit", edit_store_path(store) %></td>
      <td><%= link_to "Destroy", store, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Store", new_store_path %></p>
