<% title "Group: #{@group.group_desc} (#{@group.group_abbr})" %>

<h3><%="Samples List for this Group" %></h3>

<% if @samples.count > 0 %>

  <% form_tag "#{samples_path}/groupindex/#{@group.id}",
     :style => "padding:3px;background-color:#eee;display:table;border:1px solid;",
     :method => 'get' do %>

    <% if params[:search_field] == 'code' %>
      <% code_selected = 'selected' %>
      <% userref_selected = '' %>
    <% else %>
      <% code_selected = '' %>
      <% userref_selected = 'selected' %>
    <% end %>

    Search For: <%= text_field_tag :search, params[:search] %> in:
    <%= select_tag "search_field", "<option #{code_selected} value=\"#{:code}\">Sample Code</option><option #{userref_selected} value=\"#{:userref}\">User Reference</option>".html_safe %>
    Display: <%= samples_per_page_select @samples%> items per page
    <%= submit_tag "Search", :name => nil %>

  <% end %>

  <p>
  <form method="link" action=<% "/group/show/#{@group.id}" %>><input type="submit" value="Reset Search"></form>

  <% end %>
  </p>

<p>
<%= will_paginate @samples %>
</p>

<% if @samples.count > 0 %>
<p>
<table class="pretty">
  <tr>
    <th><%= sortable "code", "Code" %></th>
    <th><%= sortable "userref", "Ref" %></th>
    <th><%= sortable "name", "Status" %></th>
    <th><%= sortable "created_at", "Submitted" %></th>
    <th><%= sortable "updated_at", "Updated" %></th>
    <th><%= sortable "priority", "Priority" %></th>
    <th><%= sortable "powd", "Pow?" %></th>
    <th><%= sortable "chiral", "Chi?" %></th>
    <th><%= sortable "cost_code", "Cost Code" %></th>
    <th></th>
    <th></th>
  </tr>

  <% for sample in @samples %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= sample.code %></td>
      <td><%= sample.userref %></td>
      <td><%= sample.flag.name %></td>
      <td><%= neat_time(sample.created_at) %></td>
      <td><%= neat_time(sample.updated_at) %></td>
      <td><%= sample.priority %></td>
      <td><%= sample.powd ? 'yes' : 'no'%></td>
      <td><%= sample.chiral ? 'yes' : 'no'%></td>
      <td><%= sample.cost_code %></td>
      <td><%= link_to image_tag("/images/show.gif",
              :title => "Show",
              :alt   => "Show"),
            sample %></td>
      <td><%= link_to image_tag("/images/pdf.png",
              :title => "PDF",
              :alt   => "PDF"),
            sample_path(sample, :format => "pdf") %></td>

    </tr>
  <% end %>
</table>
</p>
<% else %>
<p>
This group has no samples!
</p>
<% end %>

<% if current_user.admin %>

<p>
  <%= link_to "Edit", edit_group_path(@group) %> |
  <%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", groups_path %>
</p>

<% else %>

<p>
</p>

<% end %>
