<% title "Group" %>

<p>
  <strong>Group Abbr:</strong>
  <%= @group.group_abbr %>
</p>
<p>
  <strong>Group Desc:</strong>
  <%= @group.group_desc %>
</p>

<p>
  <%= link_to "Edit", edit_group_path(@group) %> |
  <%= link_to "Destroy", @group, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", groups_path %>
</p>
