<% title "user Profile: #{@user.firstname} #{@user.lastname}" %>

<p>
  <strong>Group</strong>
  <%= "#{@user.group.group_desc} (#{@user.group.group_abbr})" %>
  &nbsp;&nbsp;
  &nbsp;&nbsp;
  <strong>EMail</strong>
  <%=@user.email %>
</p>

<p>
  <strong>Account Enabled?</strong>
  <%=@user.enabled ? 'yes' : 'no' %>
  &nbsp;&nbsp;
  <strong>Group Leader?</strong>
  <%=@user.leader ? 'yes' : 'no' %>
  &nbsp;&nbsp;
  <strong>Administrator?</strong>
  <%=@user.admin ? 'yes' : 'no' %>
</p>

<p>
  <strong>Last sign-in:</strong>&nbsp;<%=@user.last_sign_in_at%>
  &nbsp;&nbsp;
  <strong>Sign-in count:</strong>&nbsp;<%=@user.sign_in_count%><br />
  <strong>Total samples for this user:</strong>&nbsp;<%=@samples.count%>
<p>

<h3><%="Samples List for this User" %></h3>

<% if @samples.count > 0 %>


  <% form_tag "#{samples_path}/userindex/#{@user.id}", 
     :style => "padding:3px;background-color:#eee;display:table;border:1px solid;",
     :method => 'get' do %>

    <% code_selected = 'selected' %>
    <% userref_selected = '' %>

    <% case %>
    <% when params[:search_field] == 'code' %>
      <% code_selected = 'selected' %>
      <% userref_selected = '' %>
      <% status_selected = '' %>
    <% when params[:search_field] == 'userref' %>
      <% code_selected = '' %>
      <% userref_selected = 'selected' %>
      <% status_selected = '' %>
    <% when params[:search_field] == 'status' %>
      <% code_selected = '' %>
      <% userref_selected = '' %>
      <% status_selected = 'selected' %>
    <% else %>
      <% code_selected = 'selected' %>
      <% userref_selected = '' %>
      <% status_selected = '' %>
    <% end %>

    Search For: <%= text_field_tag :search, params[:search] %> in:
    <%= select_tag "search_field",
    "<option #{code_selected} value=\"#{:code}\">Sample Code</option>
     <option #{userref_selected} value=\"#{:userref}\">User Ref</option>
     <option #{status_selected} value=\"status\">Status</option>".html_safe %>
    Display: <%= samples_per_page_select @samples%> items per page
    <%= submit_tag "Search", :name => nil %>

  <% end %>

  <p>
  <form method="link" action=<% "/users/show/#{@user.id}" %>><input type="submit" value="Reset Search"></form>

  <% end %>
  </p>

<p>
<%= will_paginate @samples %>
</p>

<% if @samples.count > 0 %>
<p>
<table class="pretty">
  <tr>
    <th title="Sample Code"><%= sortable "code", "Code" %></th>
    <th title="User Reference"><%= sortable "userref", "Ref" %></th>
    <th title="Sample Status"><%= sortable "name", "Status" %></th>
    <th title="Original Submission Date/Time"><%= sortable "created_at", "Submitted" %></th>
    <th title="Date/Time of Last Status Update"><%= sortable "updated_at", "Updated" %></th>
    <th title="User Priority"><%= sortable "priority", "Pri" %></th>
    <th title="Is Powder Diffraction Required?"><%= sortable "powd", "Pow?" %></th>
    <th title="Is Molecule Chiral?"><%= sortable "chiral", "Chi?" %></th>
    <th title="Cost-Centre Code for Charging"><%= sortable "cost_code", "Cost Code" %></th>
    <th></th>
    <th></th>
  </tr>

  <% for sample in @samples %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= sample.code %></td>
      <td><%= sample.userref %></td>
      <td title="<%= sample.flag.description %>"><%= sample.flag.name %></td>
      <td><%= neat_time(sample.created_at) %></td>
      <td><%= neat_time(sample.updated_at) %></td>
      <td><%= sample.priority %></td>
      <td><%= sample.powd ? 'yes' : 'no'%></td>
      <td><%= sample.chiral ? 'yes' : 'no'%></td>
      <td><%= sample.cost_code %></td>
      <td><%= link_to image_tag("/images/show.gif", 
              :title => "Show", 
              :alt   => "Show"), 
              sample %></td>
      <td><%= link_to image_tag("/images/pdf.png", 
              :title => "PDF", 
              :alt   => "PDF"), 
              sample_path(sample, :format => "pdf") %></td>

    </tr>
  <% end %>
</table>
</p>
<% else %>
<p>
This user has no samples!
</p>
<% end %>
