<% title "Users" %>

<% form_tag '/user', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>


<p>
<%= will_paginate @users %>
</p>

<% if (@users.size != 0) %>
<p>
<table class="pretty">
  <tr>
    <th><%= sortable "firstname", "First Name" %></th>
    <th><%= sortable "lastname", "Last Name" %></th>
    <th><%= sortable "group_desc", "Group Description" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% for user in @users %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.group.group_desc %></td>
      <td><%= link_to "Show", user %></td>
      <td><%= link_to "Edit", edit_user_path(user) %></td>
      <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
</p>
<% end %>

<p><%= link_to "New User", new_user_path %></p>
