<% title "Users" %>

<% form_tag '/user', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Last Name", :name => nil %>
  </p>

<% end %>


<p>
<%= will_paginate @users %>
</p>

<% if (@users.size != 0) %>
<p>
<table class="pretty">
  <tr>
    <th><%= sortable "firstname", "First Name" %></th>
    <th><%= sortable "lastname", "Last Name" %></th>
    <th><%= sortable "group_desc", "Group Description" %></th>
    <th title="Account Enabled?"><%= sortable "enabled", "E" %></th>
    <th title="Group Leader?"><%= sortable "leader", "L" %></th>
    <th title="Administrator?"><%= sortable "admin", "A" %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% for user in @users %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.group.group_desc %></td>
      <td><%= user.enabled ? 'Y' : 'N' %></td>
      <td><%= user.leader ? 'Y' : 'N' %></td>
      <td><%= user.admin ? 'Y' : 'N' %></td>
      <td><%= link_to image_tag("/images/person.gif",
              :title => "Become This User",
              :alt   => "Become This User"),
            "/users/become/#{user.id}" %></td>
      <td><%= link_to image_tag("/images/show.gif",
              :title => "Show User",
              :alt   => "Show User"),
            user %></td>
      <td><%= link_to image_tag("/images/edit.gif",
              :title => "Edit User",
              :alt   => "Edit User"),
            edit_user_path(user) %></td>
      <td><%= link_to image_tag("/images/delete.gif",
              :title => "Delete User",
              :alt   => "Delete User"),
            user,
            :confirm => 'Are you sure?',
            :method => :delete %></td>

    </tr>
  <% end %>
</table>
</p>
<% end %>

<p><%= link_to "New User", new_user_path %></p>
